.box1{

    height: 200px;
    width: 300px;
    background-color: green;
    position:relative;
    /* bottom: 0;
    right:0; */
    top: 0;
    left: 0;
    /* margin: auto; */
}

.box2{
    width: 105px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.name{
    border: 3px solid black;
    margin-top: 10px;
    width: 450px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    top: 0;
}

p{
    padding-bottom: 700px;
}
.fixed{
    position:fixed;
    bottom: 0;
    right: 0;

}