.box{
    width: 600px;
    height: 600px;
    border: 19px solid tomato;
    border-radius: 50%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: box 2s infinite forwards;
    

}
@keyframes box{
    0%{
        border-color: red;
        transform: scale(1);
    }
    25%{
        border-color:aqua;
        transform: scale(1.1);
    }
    50%{
        border-color:rgb(81, 255, 0);
        transform: scale(0.8);
    }
    75%{
        border-color:rgb(255, 0, 64);
        transform: scale(1.2);
    }
    100%{
        border-color:rgb(0, 17, 255);
        transform: scale(0.7);
    }
}

.circel{
    width: 300px;
    height: 300px;
    border: 17px solid rgb(3, 240, 181);
    animation: circle 2s infinite alternate;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
        border-width: 10px;
    }
    25%{ 
        transform: rotate(0deg);
        border-width: 20px;

    }
    50%{
        border-color: rgb(30, 255, 0);
        border-width: 30px;
    }
    75%{
        border-color: rgb(4, 0, 255);
        border-width: 40px;
        }
    100%{ 
        transform: rotate(560deg);
    }
}